@import "tailwindcss";

:root {
  --background: #fff8f2;
  --foreground: #1f2937;

  --primary: #f97316;
  --secondary: #d4af37;

  --card: #ffffff;

  --border: #f1e4cf;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    to bottom,
    #fff7ed,
    #fff8f2,
    #ffffff
  );

  color: var(--foreground);

  font-family: var(--font-poppins), sans-serif;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #f97316;
  color: white;
}